.Inicio {
  text-align: center;
  padding-top: 11rem;
  padding-right: 12rem;
}


.Registro {
  text-align: center;
  padding-top: 11rem;
}

.Consulta {
  text-align: center;
  padding-top: 11rem;
}


body {
  background-color: #ff9900;
  margin: 0px auto;
  padding: 0px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
